.banner img {
  margin-top: unset !important;
  padding-bottom: 10%;
}

.banner {
  background-image: none;
  position: relative;
  align-items: unset;
  display: flex;
  justify-content: center;
  align-items: center;

  &__video-fallback {
    position: absolute;
    width: 100% !important;
    z-index: -2;
    margin-top: 0px !important;
  }

  &__parallaxe-logo {
    width: 50% !important;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__video {
    position: absolute;
    width: 100% !important;
    z-index: -1;

    @media (max-width: 800px) {
      width: 120% !important;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  @media (max-width: 700px) {
    &__parallaxe {
      left: 0px;
    }

    &__parallaxe-logo {
      position: absolute;
      top: 50px;
      left: 100px;
      width: 80% !important;
      z-index: -1;
    }
  }
}
