$chemincloud: "../assets/images/Studio_Koukaki-image_place.png";

.story #place {
  background-image: url($chemincloud);
}

#NuagesBleu {
  margin-top: -25%;
  filter: blur(10px);
  position: absolute;
  right: 0;
}

@media (max-width: 800px) {
  #NuagesBleu {
    display: none;
  }
}
