$cheminImageSunflower: "../assets/images/Sunflower.png";
$cheminImageOrchid: "../assets/images/orchid.png";
$cheminImagePlace: "../assets/images/orange_characters_bg.png";

.oscar__nomination-img {
  width: 25%;
}

.oscar__nomination-text {
  background-image: url($cheminImagePlace);
  font-size: 35px !important;
}

.oscar {
  position: relative;
  display: flex;
  margin: 10% 10% 0;
  justify-content: center;
  align-items: center;
}

.oscar::before,
.oscar::after {
  content: "";
  background-size: cover;
  position: absolute;
  width: 180px;
  height: 180px;
}

.oscar::before {
  background-image: url($cheminImageSunflower);
  left: -144px;
  top: -96px;
}

.oscar::after {
  background-image: url($cheminImageOrchid);
  right: -210px;
  top: -128px;
}

@media (max-width: 1100px) {
  .oscar__nomination-text {
    font-size: 152%;
  }
}

@media (max-width: 900px) {
  .oscar__nomination-text {
    font-size: 122%;
  }
}

@media (max-width: 580px) {
  .oscar__nomination-text {
    font-size: 110%;
  }
}
